<%- include("../partials/layout-start", {title: title}) %>
<%- include("../partials/menu") %>
<div class="container">
    <div class="row">
    <main>
    <div class="login-block">
    <h*>Введите свои данные</h*>
    <form method="POST">
    <div class="form-group">
    <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
    <input type="text" name="login" class="form-control" placeholder="Ваш логин">
    </div>
    </div>
     
    <hr class="hr-xs">
     
    <div class="form-group">
    <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
    <input type="password" name="pass" class="form-control" placeholder="Ваш суперпароль">
    </div>
    </div>
    <button class="btn btn-primary btn-block" type="submit">ВОЙТИ НА САЙТ</button>
    </form>
    </div>
     
    <div class="login-links">
    <p class="text-center">Еще нету аккаунта? <a class="txt-brand" href="/user/signup"><font color=#29aafe>Регистрируйся</font></a></p>
    </div>
     
    </main>
     
    </div>
</div>

    <%- include("../partials/layout-end") %>